<br>
<ul>
  <% @restaurants.each do |restaurant| %>
       <li><%= restaurant.name %></li>
       <li><%= restaurant.address %></li>
       <li><%= restaurant.category %></li>
       <li><%= link_to 'Leave a review', new_restaurant_review_path(restaurant) %></li>
       <br>
   <% end %>
</ul>
<%= link_to 'Add a new restaurant', new_restaurant_path(@restaurant) %>