<br>
  <% @restaurants.each do |restaurant| %>
  	   <br>
       <h1><%= restaurant.name %></h1>
       <%= restaurant.address %>
       <br>
       <%= restaurant.category %>
       <br>
       <%= link_to 'Leave a review', new_restaurant_review_path(restaurant), class: "btn btn-primary" %>
       <br>
   <% end %>
<br>
<br>
<%= link_to 'Add a new restaurant', new_restaurant_path(@restaurant), class: "btn btn-primary" %>